/* NOTE: CSS has not been refactored, please excuse */

body {
  font-family: "Muli", "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
  height: 100vh;
  text-align: center;
}

h1,h2,h3,h4,h5,h6 {
  font-weight: normal;
  margin: 0;
}

a {
  color: #000;
}

a:hover {
  color: #C5B358;
}

a:active {
  outline: none;
}

img {
  max-width: 90%;
}


#header .name {
  font-size: 5em;
  font-weight: bold;
}

#header .fa {
  font-size: 3em;
  margin: 10px 5px 10px 5px;
  border: 3px solid #000;
  border-radius: 100%;
  width: 1.5em;
  height: 1.5em;
  line-height: 1.5em;
  text-decoration: none;
}

.profile {
  border-top: 20px double #C5B358;
  padding: 0 30px;
}

.main-profile-img {
  display: block;
  margin: 20px auto 5px;
  border: 10px double #C5B358;
}

.profile {
  margin: 30px 0;
}

.profile div {
  margin: 50px auto;
}

.profile div h2 {
  text-transform: uppercase;
  margin: 20px 0;
}

.profile ul {
  list-style: none;
  padding: 0;
}

.projects {
  width: 90%;
}

.rec img {
  margin: 20px 0;
}

div.projects h2 {
  margin: 0;
}

.projects .note {
  font-family: 'Playfair Display', serif;
  margin: 10px 0 30px 0;
}

.projects ul {
  text-align: left;
  font-family: 'Playfair Display', serif;
}

.projects a {
  font-family: "Muli", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
}

.contact .fa {
  color: #C5B358;
}

@media screen and (max-width: 400px) {
  #header .name {
    font-size: 3em;
  }
  #header .fa {
    font-size: 2em;
    margin: 5px;
    width: 1.5em;
    height: 1.5em;
    line-height: 1.5em;
  }
}